body {
    background-color: #F3EAF4;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.decoretion-none {
    text-decoration: none;
    text-align: justify;
   }
.link-list {
    text-decoration: none;
}
#foto {
    border-radius: 5%;
    width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.363), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


}